.section {
  background: linear-gradient(90deg, #6A0DAD27, #892BE228), url('../../public/img/bg.png');
  ;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  background-size: cover;
  background-position: center;
}

.section-radius {
  background: linear-gradient(90deg, #6A0DAD27, #892BE228);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.avatar {
  width: 8em;
  height: 8em;
}

p {
  color: black;
}

.underline-animation {
  position: relative;
  /* Positionner pour l'effet de soulignement */
}

.underline-animation::after {
  content: '';
  /* Créer un pseudo-élément pour le soulignement */
  position: absolute;
  /* Position absolue pour un meilleur contrôle */
  left: 0;
  /* Aligner à gauche */
  bottom: 0;
  /* Positionner en bas du texte */
  width: 100%;
  /* Largeur du soulignement */
  height: 2px;
  /* Épaisseur du soulignement */
  background-color: currentColor;
  /* Utiliser la couleur du texte */
  transform: scaleX(0);
  /* Commencer caché */
  transition: transform 0.3s ease;
  /* Transition douce */
}

.underline-animation:hover::after {
  transform: scaleX(1);
  /* Afficher le soulignement au survol */
}

.carousel {
  margin-top: 8em;
  margin-bottom: 8em;
}


.hover-box-gauche {
  transform: scale(1.1) rotate(-5deg);
  transition: transform 0.3s ease;
}

.hover-box-gauche:hover {
  transform: scale(1.1) rotate(-3deg);
}

.hover-box-droite {
  transform: scale(1.1) rotate(5deg);
  transition: transform 0.3s ease;
}

.hover-box-droite:hover {
  transform: scale(1.1) rotate(3deg);
}

.hover-box {
  transform-origin: center;
  transition: transform 0.3s ease;
}

.hover-box:hover {
  transform: scale(1.1);
}

.custom-name {
  font-weight: 600;
  background: white;
  font-size: small;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  color: indigo;
}


.avatar-div:hover .custom-name {
  transform: rotate(5deg);
}


.tab-button {
  position: relative;
  padding: 8px 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  color: #4F0472;
  transition: color 0.3s;
}

.tab-button:hover {
  color: #370250;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4F0472;
}

.bottom-25 {
  bottom: 6em;
}

.image-1 {
  width: 18em;
  right: 3em;
  transform: rotate(-8deg);
  animation: float 3s ease-in-out infinite alternate;
}

.image-2 {
  top: 5em;
  left: 2em;
  width: 14em;
  transform: rotate(8deg);
  animation: float-reverse 3s ease-in-out infinite alternate;
}

.image-3 {
  top: 10em;
  right: 20em;
  transform: rotate(8deg);
  animation: float-1 3s ease-in-out infinite alternate;
}

.image-4 {
  bottom: 10em;
  left: 20em;
  transform: rotate(-8deg);
  animation: float-2 3s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(-8deg);
  }

  100% {
    transform: translateY(-20px) rotate(-15deg);
  }
}

@keyframes float-1 {
  0% {
    transform: translateY(0) rotate(12deg);
  }

  100% {
    transform: translateY(50px) rotate(45deg);
  }
}

@keyframes float-2 {
  0% {
    transform: translateY(0) rotate(-16deg);
  }

  100% {
    transform: translateY(-45px) rotate(-30deg);
  }
}

@keyframes float-reverse {
  0% {
    transform: translateY(0) rotate(8deg);
  }

  100% {
    transform: translateY(20px) rotate(15deg);
  }
}

@media screen and (max-width: 1043px) and (max-height: 594px) {

  .image-1 {
    width: 12em;
  }

  .image-2 {
    width: 10em;
  }

  .image-3 {
    top: 5em;
    right: 10em;
  }

  .image-4 {
    bottom: 5em;
    left: 10em;
  }
}

@media screen and (max-width: 767px) and (max-height: 594px) {

  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    display: none;
  }
}
