<div class="grid grid-cols-2 gap-4 mt-6 md:grid-cols-3">

  <div>
    <iframe src="https://www.tiktok.com/embed/7418348615631899909" width="325" height="400" frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div>
    <iframe src="https://www.tiktok.com/embed/7418341884336033030" width="325" height="400" frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
  <div>
    <iframe src="https://www.tiktok.com/embed/7395229485056134405" width="325" height="400" frameborder="0"
      allowfullscreen>
    </iframe>
  </div>

</div>
